# ----------------------------------------------------------------------
# ignore ALL files in ANY directory named temp
temp/
.idea/
lib/
out/
_02_Collections/
_03_POO/
_04_Activities/
_07_1PracticeSolved/
# ------------------------------
# Ignore files
.directory
.Apps-Java-icon.png
java2022.iml
.git.png
# src/com/.git.png
# ----------------------------------------------------------------------
# Compiled class file
*.class

# Ignore ALL Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# ----------------------------------------------------------------------
